---
metricbeat.modules:
  - module: prometheus
    period: 5s
    hosts: ["localhost:9090"]
    metrics_path: /prometheus/metrics

  - module: prometheus
    period: 5s
    hosts: 
      {% for hp_name in groups['hp_masternodes'] %}
      - "{{ hostvars[hp_name]['ansible_host'] }}:{{ hostvars[hp_name]['prometheus_port'] }}"
      {% endfor %}
    metrics_path: /metrics

metricbeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: true
  reload.period: 10s

output.elasticsearch:
  hosts: ["http://elasticsearch:9200"]  # Using HTTP protocol as a common setup
  username: "{{ elastic_username }}"
  password: "{{ elastic_password }}"

setup.kibana:
  host: "http://kibana:5601"  # Using HTTP protocol and default Kibana port
