version: '3'

services:
  drive_abci:
    image: {{ drive_image }}
    restart: always
    command: sh -c "sleep 15 && yarn workspace @dashevo/drive abci"
    volumes:
      - drive_leveldb:/platform/packages/js-drive/db
      - {{ mn_evo_services_path }}/logs:/var/log/drive
    environment:
      - CORE_JSON_RPC_USER={{ dashd_rpc_user }}
      - CORE_JSON_RPC_PASS={{ dashd_rpc_password }}
      - CORE_JSON_RPC_HOST={{ private_ip }}
      - CORE_JSON_RPC_PORT={{ dashd_rpc_port }}
      - CORE_ZMQ_HOST={{ private_ip }}
      - CORE_ZMQ_PORT={{ dashd_zmq_port }}
      - DPNS_MASTER_PUBLIC_KEY={{ dpns_hd_master_public_key }}
      - DPNS_SECOND_PUBLIC_KEY={{ dpns_hd_second_public_key }}
      - DASHPAY_MASTER_PUBLIC_KEY={{ dashpay_hd_master_public_key }}
      - DASHPAY_SECOND_PUBLIC_KEY={{ dashpay_hd_second_public_key }}
      - FEATURE_FLAGS_MASTER_PUBLIC_KEY={{ feature_flags_hd_master_public_key }}
      - FEATURE_FLAGS_SECOND_PUBLIC_KEY={{ feature_flags_hd_second_public_key }}
      - MASTERNODE_REWARD_SHARES_MASTER_PUBLIC_KEY={{ mn_reward_shares_hd_master_public_key }}
      - MASTERNODE_REWARD_SHARES_SECOND_PUBLIC_KEY={{ mn_reward_shares_hd_second_public_key }}
      - WITHDRAWALS_MASTER_PUBLIC_KEY={{ withdrawals_hd_master_public_key }}
      - WITHDRAWALS_SECOND_PUBLIC_KEY={{ withdrawals_hd_second_public_key }}
      - NODE_ENV={{ node_environment }}
      - LOG_STDOUT_LEVEL={{ drive_log_stdout_level }}
      - LOG_PRETTY_FILE_LEVEL={{ drive_log_pretty_file_level }}
      - LOG_PRETTY_FILE_PATH=/var/log/drive/drive-pretty.log
      - LOG_JSON_FILE_LEVEL={{ drive_log_json_file_level }}
      - LOG_JSON_FILE_PATH=/var/log/drive/drive-json.log
      - INITIAL_CORE_CHAINLOCKED_HEIGHT={{ platform_initial_core_chain_locked_height }}
      - VALIDATOR_SET_LLMQ_TYPE={{ platform_drive_validator_set_llmq_type }}
    ports:
      - 26658:26658

  tendermint:
    image: {{ tendermint_image }}
    entrypoint: sh -c "sleep 30 && /usr/bin/tenderdash node"
    restart: always
    ports:
      - {{ tendermint_rpc_port }}:26657
      - {{ tendermint_p2p_port }}:26656
    volumes:
      - {{ mn_evo_services_path }}/tendermint:/tenderdash
    depends_on:
      - drive_abci

  dapi_api:
    image: {{ dapi_image }}
    command: yarn workspace @dashevo/dapi api
    restart: always
    depends_on:
      - tendermint
    ports:
      - 3004:3004
      - 3005:3005
    environment:
      - API_JSON_RPC_PORT=3004
      - API_GRPC_PORT=3005
      - DASHCORE_RPC_HOST={{ private_ip }}
      - DASHCORE_RPC_PORT={{ dashd_rpc_port }}
      - DASHCORE_RPC_USER={{ dashd_rpc_user }}
      - DASHCORE_RPC_PASS={{ dashd_rpc_password }}
      - DASHCORE_ZMQ_HOST={{ private_ip }}
      - DASHCORE_ZMQ_PORT={{ dashd_zmq_port }}
      - DASHCORE_P2P_HOST={{ private_ip }}
      - DASHCORE_P2P_PORT={{ dashd_port }}
      - DASHCORE_P2P_NETWORK={{ dash_network }}
      - NETWORK={{ dash_network }}
      - TENDERMINT_RPC_HOST=tendermint
      - TENDERMINT_RPC_PORT=26657
      - NODE_ENV={{ node_environment }}

  dapi_tx_filter_stream:
    image: {{ dapi_image }}
    command: yarn workspace @dashevo/dapi core-streams
    restart: always
    ports:
      - 3006:3006
    environment:
      - TX_FILTER_STREAM_GRPC_PORT=3006
      - DASHCORE_RPC_HOST={{ private_ip }}
      - DASHCORE_RPC_PORT={{ dashd_rpc_port }}
      - DASHCORE_RPC_USER={{ dashd_rpc_user }}
      - DASHCORE_RPC_PASS={{ dashd_rpc_password }}
      - DASHCORE_ZMQ_HOST={{ private_ip }}
      - DASHCORE_ZMQ_PORT={{ dashd_zmq_port }}
      - DASHCORE_P2P_HOST={{ private_ip }}
      - DASHCORE_P2P_PORT={{ dashd_port }}
      - DASHCORE_P2P_NETWORK={{ dash_network }}
      - NETWORK={{ dash_network }}

  dapi_envoy:
    image: {{ dapi_envoy_image }}
    restart: always
    depends_on:
      - dapi_api
      - dapi_tx_filter_stream
    ports:
      - 3020:8080
    volumes:
      - {{ mn_evo_services_path }}/dapi-envoy.yaml:/etc/envoy/envoy.yaml

  dapi_nginx:
    image: nginx:latest
    restart: always
    depends_on:
      - dapi_api
      - dapi_tx_filter_stream
      - dapi_envoy
    ports:
      - {{ dapi_port }}:80
    volumes:
      - {{ mn_evo_services_path }}/dapi-nginx.conf:/etc/nginx/conf.d/default.conf
      - {{ mn_evo_services_path }}/dapi-nginx-grpc.conf:/etc/nginx/conf.d/dapi-nginx-grpc.conf
      - {{ mn_evo_services_path }}/dapi-nginx-errors.grpc_conf:/etc/nginx/conf.d/dapi-nginx-errors.grpc_conf

volumes:
  drive_leveldb:
