version: '3'

services:
  tendermint:
    image: {{ tendermint_image }}
    entrypoint: sh -c "sleep 30 && /usr/bin/tenderdash node"
    restart: always
    ports:
      - {{ tendermint_rpc_port }}:26657
      - {{ tendermint_p2p_port }}:26656
    volumes:
      - {{ mn_evo_services_path }}/tendermint:/tenderdash
