{
  "genesis_time": "{{ genesis_time }}",
  "chain_id": "dash-{{ ( 'devnet-' + dash_devnet_name if dash_network == 'devnet' else dash_network ) if tenderdash_chain_id is not defined else tenderdash_chain_id }}",
  "validator_quorum_type": {{ platform_drive_validator_set_llmq_type }}
}
