# Dotenv
/.env

# Ansible
/ansible/*.retry
/networks/*.inventory

# Vagrant
.vagrant

# Terraform
/terraform/aws/*.tfstate
/terraform/aws/*.tfstate.backup
/terraform/aws/.terraform

# Jet Brains
cmake-build-debug
.idea
