# Dotenv

# Ansible
/ansible/*.retry

# Networks
/networks/*.inventory
/networks/*.ovpn
/networks/.env

# Node.JS
node_modules

# Vagrant
.vagrant

# Terraform
/terraform/aws/*.tfstate
/terraform/aws/*.tfstate.backup
/terraform/aws/.terraform

# Jet Brains
cmake-build-debug
.idea
