# Ansible
/ansible/*.retry
/ansible/deploy.yml.pre-*

# Node.JS
node_modules

# Vagrant
.vagrant

# Terraform
/terraform/aws/.terraform

# Local run logs
/logs/

# Jet Brains
.idea

# VS Code
.vscode
networks

# Local docs
INFRA.MD

.codex
