---

# Mixing

- name: Ensure jq is installed
  ansible.builtin.apt:
    name: jq
    state: present
    update_cache: true
  become: true

- name: Create CoinJoin wallets
  ansible.builtin.command:
    cmd: dash-cli createwallet {{ coinjoin_wallet_name }} false false "" false true
    creates: "{{ dashd_home }}/.dashcore/{{ dash_network_name if dash_network == 'devnet' else 'testnet3' }}/wallets/{{ coinjoin_wallet_name }}/wallet.dat"

- name: Import mixer addresses
  ansible.builtin.command:
    cmd: dash-cli -rpcwallet={{ coinjoin_wallet_name }} importprivkey {{ mixers[inventory_hostname].owner.private_key }}
  register: result
  changed_when: result.rc == 0

- name: Get wallet balance
  ansible.builtin.command:
    cmd: dash-cli -rpcwallet={{ coinjoin_wallet_name }} getbalance
  register: getbalance_result
  changed_when: getbalance_result.rc == 0

- name: Print balances
  ansible.builtin.debug:
    msg: system what {{ getbalance_result }}

- name: Set CoinJoin amount
  ansible.builtin.command:
    cmd: dash-cli -rpcwallet={{ coinjoin_wallet_name }} setcoinjoinamount {{ mix_amount }}
  register: setcoinjoinamount_result
  changed_when: setcoinjoinamount_result.rc == 0

- name: Start mixing
  ansible.builtin.command:
    cmd: dash-cli -rpcwallet={{ coinjoin_wallet_name }} coinjoin start
  register: coinjoin_start_result
  changed_when: '"Mixing started successfully" in coinjoin_start_result.stdout'

- name: Get CoinJoin info
  ansible.builtin.command:
    cmd: dash-cli -rpcwallet={{ coinjoin_wallet_name }} getcoinjoininfo
  register: getcoinjoininfo_result
  changed_when: getcoinjoininfo_result.rc == 0

- name: Copy remixing script
  ansible.builtin.template:
    src: 'remix.sh.j2'
    dest: '/dash/remix.sh'
    mode: "0755"

- name: Schedule remix.sh to run every 5 minutes
  ansible.builtin.cron:
    name: "Run remix.sh every 5 minutes"
    minute: "*/5"
    job: "/dash/remix.sh"
    user: "root"
