{
  "genesis_time": "{{ tendermint_genesis_time }}",
  "chain_id": "dash-{{ ( 'devnet-' + dash_devnet_name if dash_network == 'devnet' else dash_network ) if tenderdash_chain_id is not defined else tenderdash_chain_id }}",
  "consensus_params": {
    "block": {
      "max_bytes": "22020096",
      "max_gas": "-1",
      "time_iota_ms": "5000"
    },
    "evidence": {
      "max_age": "100000",
      "max_age_num_blocks": "100000",
      "max_age_duration": "172800000000000"
    },
    "validator": {
      "pub_key_types": [
        "ed25519"
      ]
    }
  },
  "initial_core_chain_locked_height": {{ platform_initial_core_chain_locked_height | int }},
  "validators": [
    {% for masternode in groups.masternodes[:tenderdash_max_validators_count] %}
        {
          "address": "{{ hostvars[masternode].tendermint_validator_key | json_query('address') }}",
          "pub_key": {
             "type": "{{ hostvars[masternode].tendermint_validator_key | json_query('pub_key.type') }}",
             "value": "{{ hostvars[masternode].tendermint_validator_key | json_query('pub_key.value') }}"
          },
          "power": "1",
          "name": "{{ masternode }}"
        }
        {% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "app_hash": ""
}
