{
  "address": "17BD5A338FFD5B996C7388A36574E9FD17567F05",
  "pub_key": {
    "type": "tendermint/PubKeyBLS12381",
    "value": "if85FXBIdFPKVZnlNlV4InTskn6LAqcR/WZ26/VJm80VsR8LrqN6c3jarp7a4Jwi"
  },
  "priv_key": {
    "type": "tendermint/PrivKeyBLS12381",
    "value": "EY/FPLkY1VffNQuaLlgeM3MCF3K2A6wmMhbQ8sXja14="
  },
  "pro_tx_hash": "D455386CC362ED04BCA6EFBCE811440F0D768BC004947B873950FC37A5E94CCA"
}
