version: '3.2'

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
    volumes:
      - type: bind
        source: {{ elk_path }}/elasticsearch.yml
        target: /usr/share/elasticsearch/config/elasticsearch.yml
        read_only: true
      - type: volume
        source: elasticsearch_data
        target: /usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      ES_JAVA_OPTS: "-Xms1g -Xmx3g"
      ELASTIC_PASSWORD: {{ elk_elasticsearch_password }}
      # Use single node discovery in order to disable production mode and avoid bootstrap checks.
      # see: https://www.elastic.co/guide/en/elasticsearch/reference/current/bootstrap-checks.html
      discovery.type: single-node
    networks:
      - elk

  #logstash:
  #  image: docker.elastic.co/logstash/logstash:7.10.2
  #  volumes:
  #    - type: bind
  #      source: {{ elk_path }}/logstash.yml
  #      target: /usr/share/logstash/config/logstash.yml
  #      read_only: true
  #    - type: bind
  #      source: {{ elk_path }}/logstash.conf
  #      target: /usr/share/logstash/pipeline/logstash.conf
  #      read_only: true
  #  ports:
  #    - "5044:5044"
  #    - "5000:5000/tcp"
  #    - "5000:5000/udp"
  #    - "9600:9600"
  #  environment:
  #    LS_JAVA_OPTS: "-Xmx256m -Xms256m"
  #  networks:
  #    - elk
  #  depends_on:
  #    - elasticsearch

  kibana:
    image: docker.elastic.co/kibana/kibana:7.10.2
    volumes:
      - type: bind
        source: {{ elk_path }}/kibana.yml
        target: /usr/share/kibana/config/kibana.yml
        read_only: true
    ports:
      - "{{ elk_kibana_port }}:{{ elk_kibana_port }}"
    networks:
      - elk
    depends_on:
      - elasticsearch

networks:
  elk:
    driver: bridge

volumes:
  elasticsearch_data:
