{
  "network": "{{ 'mainnet' if dash_network == 'mainnet' else 'testnet' }}",
  "port": 3001,
  "services": [
    "dashd",
    "@dashevo/insight-api",
  ],
  "servicesConfig": {
    "dashd": {
      "connect": [{
        "rpchost": "{{ mn_insight_dashd_rpchost }}",
        "rpcport": {{ mn_insight_dashd_rpc_port }},
        "rpcuser": "{{ mn_insight_dashd_rpc_user }}",
        "rpcpassword": "{{ mn_insight_dashd_rpc_password }}",
        "zmqpubrawtx": "tcp://{{ mn_insight_dashd_rpchost }}:{{ dashd_zmq_port }}",
        "zmqpubhashblock": "tcp://{{ mn_insight_dashd_rpchost }}:{{ dashd_zmq_port }}"
      }]
    }
  }
}
