version: '3'

services:
  insight:
    image: {{ insight_image }}
    restart: always
    ports:
      - 3001:3001
    volumes:
      - {{ mn_insight_path }}/bitcore-node-dash.json:/insight/bitcore-node-dash.json
