version: '3'

services:
  insight:
    image: {{ insight_image }}
    container_name: insight
    restart: always
    ports:
      - 3001:3001
    volumes:
      - {{ mn_insight_path }}/dashcore-node.json:/root/.dashcore/dashcore-node.json
