# general

{% if dash_network == 'regtest' %}
regtest=1
{% elif dash_network == 'testnet' %}
testnet=1
{% elif dash_network == 'devnet' %}
devnet={{ dash_devnet_name }}
{% endif %}

daemon=0  # leave this set to 0 for Docker
logtimestamps=1
maxconnections=256
debug={% if masternode.debug is defined or dashd_debug == 1 %}1{% else %}0{% endif %}

uacomment=dcg-{{ inventory_hostname }}

printtoconsole=1

fallbackfee=0.00001

{% if dashd_indexes %}
# optional indices (required for Insight)
txindex=1
addressindex=1
timestampindex=1
spentindex=1
{% endif %}

{% if dashd_zmq %}
# ZeroMQ notifications
zmqpubrawtx=tcp://0.0.0.0:{{ dashd_zmq_port }}
zmqpubrawtxlock=tcp://0.0.0.0:{{ dashd_zmq_port }}
zmqpubrawblock=tcp://0.0.0.0:{{ dashd_zmq_port }}
zmqpubhashblock=tcp://0.0.0.0:{{ dashd_zmq_port }}
zmqpubrawchainlocksig=tcp://0.0.0.0:{{ dashd_zmq_port }}
zmqpubrawtxlocksig=tcp://0.0.0.0:{{ dashd_zmq_port }}
{% endif %}

# JSONRPC
server=1
rpcuser={{ dashd_rpc_user }}
rpcpassword={{ dashd_rpc_password }}
deprecatedrpc=hpmn

{% if dashd_rpc_allow_public %}
rpcallowip=::/0
rpcallowip=0.0.0.0/0
{% else %}
rpcallowip={{ dashd_private_cidr }}
rpcallowip=127.0.0.0
rpcallowip=172.16.0.0/12
rpcallowip=192.168.0.0/16
rpcallowip={{ hostvars['vpn'].public_ip }}/32
{% endif %}

rpcworkqueue=64
rpcthreads=16

{% if dashd_listen %}
listen=1
{% else %}
listen=0
{% endif %}

externalip={{ dashd_externalip }}

dnsseed=0
allowprivatenet={{ dashd_allowprivatenet }}

{% if masternode is defined %}
masternodeblsprivkey={{ masternode.operator.private_key }}
{% endif %}

{% if dashd_sporkaddr is defined %}
sporkaddr={{ dashd_sporkaddr }}
{% endif %}
{% if dashd_sporkkey is defined %}
sporkkey={{ dashd_sporkkey }}
{% endif %}

{% if dash_network == 'regtest' %}
[regtest]
{% elif dash_network == 'mainnet' %}
[main]
{% elif dash_network == 'testnet' %}
[test]
{% elif dash_network == 'devnet' %}
llmqchainlocks=llmq_devnet
llmqinstantsend=llmq_devnet
llmqinstantsenddip0024=llmq_devnet_dip0024
llmqplatform=llmq_devnet_platform

[devnet]
minimumdifficultyblocks={{ dashd_minimumdifficultyblocks }}
highsubsidyblocks=500
highsubsidyfactor=10
{% if dashd_powtargetspacing is defined %}
powtargetspacing={{ dashd_powtargetspacing }}
{% endif %}
{% endif %}

{% if dashd_debug == 1 %}
logips=1
{% endif %}

rpcport={{ dashd_rpc_port }}
rpcbind=0.0.0.0

# external network
{% if dashd_listen %}
bind=0.0.0.0
{% endif %}

port={{ dashd_port }}

{% for seed_node in groups.seed_nodes %}
addnode={{ hostvars[seed_node]["public_ip"] }}:{{ dashd_port }}
{% endfor %}
