# general

{% if dash_network == 'regtest' %}
regtest=1
{% elif dash_network == 'testnet' %}
testnet=1
{% elif dash_network == 'devnet' %}
devnet={{ dash_devnet_name }}
{% endif %}

daemon=0  # leave this set to 0 for Docker
logtimestamps=1
maxconnections=256
debug={{ dashd_debug }}
printtoconsole=1

llmq-qvvec-sync=llmq_100_67

{% if dashd_indexes %}
# optional indices (required for Insight)
txindex=1
addressindex=1
timestampindex=1
spentindex=1
{% endif %}

{% if dashd_zmq %}
# ZeroMQ notifications
zmqpubrawtx=tcp://0.0.0.0:{{ dashd_zmq_port }}
zmqpubrawtxlock=tcp://0.0.0.0:{{ dashd_zmq_port }}
zmqpubhashblock=tcp://0.0.0.0:{{ dashd_zmq_port }}
zmqpubrawchainlocksig=tcp://0.0.0.0:{{ dashd_zmq_port }}
zmqpubrawtxlocksig=tcp://0.0.0.0:{{ dashd_zmq_port }}
{% endif %}

# JSONRPC
server=1
rpcuser={{ dashd_rpc_user }}
rpcpassword={{ dashd_rpc_password }}

{% if dashd_rpc_allow_public %}
rpcallowip=::/0
rpcallowip=0.0.0.0/0
{% else %}
rpcallowip={{ dashd_private_cidr }}
rpcallowip=127.0.0.0
rpcallowip=172.16.0.0/12
rpcallowip=192.168.0.0/16
rpcallowip={{ hostvars['vpn'].public_ip }}/32
{% endif %}

rpcworkqueue=64
rpcthreads=16

{% if dashd_listen %}
listen=1
{% else %}
listen=0
{% endif %}

externalip={{ dashd_externalip }}

dnsseed=0
allowprivatenet={{ dashd_allowprivatenet }}

{% if masternode is defined %}
masternodeblsprivkey={{ masternode.operator.private_key }}
{% endif %}

{% if dashd_sporkaddr is defined %}
sporkaddr={{ dashd_sporkaddr }}
{% endif %}
{% if dashd_sporkkey is defined %}
sporkkey={{ dashd_sporkkey }}
{% endif %}

{% if dash_network == 'regtest' %}
[regtest]
{% elif dash_network == 'mainnet' %}
[main]
{% elif dash_network == 'testnet' %}
[test]
{% elif dash_network == 'devnet' %}
[devnet]

# First 1000 blocks should be mined with lowest difficulty (like in regtest, so it's instant)
# and first 500 blocks are mined with a block subsidity multiplied by 10
# this allows to register MNs immediately (DIP3 activates on block 2)
minimumdifficultyblocks=1000
highsubsidyblocks=500
highsubsidyfactor=10
{% endif %}

rpcport={{ dashd_rpc_port }}
rpcbind=0.0.0.0

# external network
{% if dashd_listen %}
bind=0.0.0.0
{% endif %}

port={{ dashd_port }}

{% if dashd_seednode is not none and not dashd_isseednode %}
addnode={{ dashd_seednode }}:{{ dashd_port }}
{% endif %}
