{
  "genesis_time": "{{ genesis_time }}",
  "chain_id": "dash-{{ ( 'devnet-' + dash_devnet_name if dash_network == 'devnet' else dash_network ) if tenderdash_chain_id is not defined else tenderdash_chain_id }}",
  "initial_height": "0",
  "initial_core_chain_locked_height": {{ platform_initial_core_chain_locked_height | int }},
  "initial_proposal_core_chain_lock": null,
  "consensus_params": {
    "block": {
      "max_bytes": "22020096",
      "max_gas": "-1",
      "time_iota_ms": "5000"
    },
    "evidence": {
      "max_age": "100000",
      "max_age_num_blocks": "100000",
      "max_age_duration": "172800000000000"
    },
    "validator": {
      "pub_key_types": [
        "bls12381"
      ]
    },
    "version": {
      "app_version": "1"
    }
  },
 "validators": [
    {
      "pub_key": {
        "type": "tendermint/PubKeyBLS12381",
        "value": "imxjukh5hRY91Mvm/sfhQp6iSnICyvKMMdhY5Sq6Ej0QJyB3vtN4UfYwvmxdzOVM"
      },
      "power": 100,
      "name": "",
      "pro_tx_hash": "F3D506822A24E7E4BE318A6ED7371CC1E1527880A594FE04629F50A1618DB8E7"
    }
  ],
  "threshold_public_key": {
    "type": "tendermint/PubKeyBLS12381",
    "value": "imxjukh5hRY91Mvm/sfhQp6iSnICyvKMMdhY5Sq6Ej0QJyB3vtN4UfYwvmxdzOVM"
  },
  "quorum_type": {{ platform_drive_validator_set_llmq_type }},
  "quorum_hash": "0000000000000000000000000000000000000000000000000000000000000000",
  "app_hash": ""
}
