{
  "chain_id": "dash-{{ ( 'devnet-' + dash_devnet_name if dash_network == 'devnet' else dash_network ) if tenderdash_chain_id is not defined else tenderdash_chain_id }}",
  "validator_quorum_threshold_public_key": {
    "type": "tendermint/PubKeyBLS12381",
    "value": "imxjukh5hRY91Mvm/sfhQp6iSnICyvKMMdhY5Sq6Ej0QJyB3vtN4UfYwvmxdzOVM"
  },
  "validator_quorum_type": {{ platform_drive_validator_set_llmq_type }},
  "validator_quorum_hash": "0000000000000000000000000000000000000000000000000000000000000000"
}
