---

platform_filebeat_inputs:
  - type: container
    enabled: "{{ tenderdash_host_info.containers | length > 0 }}"
    json.message_key: message
    index: "logs-drive.tenderdash-{{ dash_network_name }}-%{[agent.version]}"
    paths:
      - '/var/lib/docker/containers/{{ tenderdash_container_id }}/*.log'
    processors:
      - add_fields:
          target: event
          fields:
            dataset: "drive.tenderdash-{{ dash_network_name }}"
      - rename:
          fields:
            - from: "json.message"
              to: "message"
          ignore_missing: true
          fail_on_error: true
      - rename:
          fields:
            - from: "json.level"
              to: "log.level"

metricbeat_modules:
  - module: prometheus
    period: 10s
    hosts: ["localhost:{{ prometheus_port }}"]
    metrics_path: "/metrics"
    namespace: "drive_tenderdash"
