version: '3.2'

services:
  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch:{{ elastic_version }}"
    volumes:
      - type: bind
        source: {{ elastic_path }}/elasticsearch.yml
        target: /usr/share/elasticsearch/config/elasticsearch.yml
        read_only: true
      - type: bind
        source: '{{ certs_path }}'
        target: /usr/share/elasticsearch/config/certificates/
      - type: volume
        source: elasticsearch_data
        target: /usr/share/elasticsearch/data
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      ES_JAVA_OPTS: "-Xms{{ elastic_heap_size }} -Xmx{{ elastic_heap_size }}"
      ELASTIC_PASSWORD: {{ elastic_password }}
    networks:
      - elastic

  kibana:
    image: "docker.elastic.co/kibana/kibana:{{ elastic_version }}"
    volumes:
      - type: bind
        source: {{ elastic_path }}/kibana.yml
        target: /usr/share/kibana/config/kibana.yml
        read_only: true
    ports:
      - "{{ kibana_port }}:{{ kibana_port }}"
    networks:
      - elastic
    depends_on:
      - elasticsearch

networks:
  elastic:
    driver: bridge

volumes:
  elasticsearch_data:
