{% if dash_network == 'testnet' %}
testnet=1

[test]
{% else %}
devnet={{ dash_devnet_name }}

[devnet]
llmqchainlocks=llmq_devnet
llmqinstantsend=llmq_devnet
llmqinstantsenddip0024=llmq_devnet_dip0024
llmqplatform=llmq_devnet_platform

minimumdifficultyblocks={{ dashd_minimumdifficultyblocks }}
highsubsidyblocks=500
highsubsidyfactor=10
{% if dashd_powtargetspacing is defined %}
powtargetspacing={{ dashd_powtargetspacing }}
{% endif %}
{% endif %}

{% if dashd_sporkaddr is defined %}
sporkaddr={{ dashd_sporkaddr }}
{% endif %}

port={{ dashd_port }}
{% for seed_node in groups.seed_nodes %}
addnode={{ hostvars[seed_node]["public_ip"] }}:{{ dashd_port }}
{% endfor %}
