version: '3'

services:
  drive_mongodb:
    image: mongo:4.2
    container_name: drive_mongodb
    restart: always
    command: mongod --replSet driveDocumentIndices --bind_ip_all
    ports:
      - 27017:27017
    volumes:
      - drive_mongodb:/data/db

  drive_update_state:
    image: {{ drive_image }}
    container_name: drive_update_state
    restart: always
    command: sh -c "sleep 10 && npm run updateState"
    environment:
      - DASHCORE_JSON_RPC_USER={{ dashd_rpc_user }}
      - DASHCORE_JSON_RPC_PASS={{ dashd_rpc_password }}
      - DASHCORE_JSON_RPC_HOST={{ private_ip }}
      - DASHCORE_JSON_RPC_PORT={{ dashd_rpc_port }}
      - STATEVIEW_MONGODB_URL=mongodb://drive_mongodb:27017
      - UPDATE_STATE_GRPC_PORT=5000
      - TENDERMINT_RPC_HOST=tendermint
      - TENDERMINT_RPC_PORT=26657
      - DPNS_CONTRACT_ID={{ platform_dpns_contract_identity }}
      - DPNS_TOP_LEVEL_IDENTITY={{ platform_dpns_top_level_domain_identity }}
    ports:
      - 5000:5000
    depends_on:
      - drive_mongodb

  drive_api:
    image: {{ drive_image }}
    container_name: drive_api
    restart: always
    command: npm run api
    environment:
      - DASHCORE_JSON_RPC_USER={{ dashd_rpc_user }}
      - DASHCORE_JSON_RPC_PASS={{ dashd_rpc_password }}
      - DASHCORE_JSON_RPC_HOST={{ private_ip }}
      - DASHCORE_JSON_RPC_PORT={{ dashd_rpc_port }}
      - STATEVIEW_MONGODB_URL=mongodb://drive_mongodb:27017
      - API_RPC_PORT=6000
      - TENDERMINT_RPC_HOST=tendermint
      - TENDERMINT_RPC_PORT=26657
    depends_on:
      - drive_mongodb
    ports:
      - 6000:6000

  machine:
    image: {{ machine_image }}
    container_name: machine
    restart: always
    command: npm run abci
    environment:
      - DRIVE_UPDATE_STATE_HOST=drive_update_state
      - DRIVE_UPDATE_STATE_PORT=5000
      - DRIVE_API_HOST=drive_api
      - DRIVE_API_PORT=6000
      - RATE_LIMITER_ACTIVE={{ platfrom_state_transitions_limiter_enabled }}
      - RATE_LIMITER_MAX_TRANSITIONS_PER_ID=100
      - RATE_LIMITER_PER_BLOCK_INTERVAL=36
      - RATE_LIMITER_PER_BAN_INTERVAL=17280
      - RATE_LIMITER_INTERVAL_PREFIX='ratelimiter.interval'
      - RATE_LIMITER_BAN_PREFIX='ratelimiter.ban'
    volumes:
      - machine_leveldb:/usr/src/app/db
    ports:
      - 26658:26658
    depends_on:
      - drive_api
      - drive_update_state

  tendermint:
    image: {{ tendermint_image }}
    container_name: tendermint
    entrypoint: sh -c "sleep 30 && /usr/bin/tendermint node"
    restart: always
    ports:
      - {{ tendermint_rpc_port }}:26657
      - {{ tendermint_p2p_port }}:26656
    volumes:
      - {{ mn_evo_services_path }}/tendermint:/tendermint
    depends_on:
      - machine

  dapi_api:
    image: {{ dapi_image }}
    container_name: dapi_api
    command: npm run api
    restart: always
    depends_on:
      - drive_api
      - tendermint
    ports:
      - 3004:3004
      - 3005:3005
    environment:
      - INSIGHT_URI=http://{{ private_ip }}:3001/insight-api
      - API_JSON_RPC_PORT=3004
      - API_GRPC_PORT=3005
      - DASHCORE_RPC_HOST={{ private_ip }}
      - DASHCORE_RPC_PORT={{ dashd_rpc_port }}
      - DASHCORE_RPC_USER={{ dashd_rpc_user }}
      - DASHCORE_RPC_PASS={{ dashd_rpc_password }}
      - DASHCORE_ZMQ_HOST={{ private_ip }}
      - DASHCORE_ZMQ_PORT={{ dashd_zmq_port }}
      - DASHCORE_P2P_HOST={{ private_ip }}
      - DASHCORE_P2P_PORT={{ dashd_port }}
      - DASHCORE_P2P_NETWORK={{ dash_network }}
      - DRIVE_RPC_HOST=drive_api
      - DRIVE_RPC_PORT=6000
      - NETWORK={{ dash_network }}
      - TENDERMINT_CORE_HOST=tendermint
      - TENDERMINT_CORE_PORT=26657

  dapi_tx_filter_stream:
    image: {{ dapi_image }}
    container_name: dapi_tx_filter_stream
    command: npm run tx-filter-stream
    restart: always
    ports:
      - 3006:3006
    environment:
      - INSIGHT_URI=http://{{ private_ip }}:3001/insight-api
      - TX_FILTER_STREAM_GRPC_PORT=3006
      - DASHCORE_RPC_HOST={{ private_ip }}
      - DASHCORE_RPC_PORT={{ dashd_rpc_port }}
      - DASHCORE_RPC_USER={{ dashd_rpc_user }}
      - DASHCORE_RPC_PASS={{ dashd_rpc_password }}
      - DASHCORE_ZMQ_HOST={{ private_ip }}
      - DASHCORE_ZMQ_PORT={{ dashd_zmq_port }}
      - DASHCORE_P2P_HOST={{ private_ip }}
      - DASHCORE_P2P_PORT={{ dashd_port }}
      - DASHCORE_P2P_NETWORK={{ dash_network }}
      - DRIVE_RPC_HOST=drive_api
      - DRIVE_RPC_PORT=6000
      - NETWORK={{ dash_network }}

  dapi_nginx:
    image: nginx:latest
    container_name: dapi_nginx
    restart: always
    depends_on:
      - dapi_api
      - dapi_tx_filter_stream
    ports:
      - {{ dapi_port }}:80
      - {{ dapi_grpc_port }}:50051
    volumes:
      - {{ mn_evo_services_path }}/dapi-nginx.conf:/etc/nginx/conf.d/default.conf
      - {{ mn_evo_services_path }}/dapi-nginx-grpc.conf:/etc/nginx/conf.d/dapi-nginx-grpc.conf
      - {{ mn_evo_services_path }}/dapi-nginx-errors.grpc_conf:/etc/nginx/conf.d/dapi-nginx-errors.grpc_conf

  dapi_envoy:
    image: envoyproxy/envoy:latest
    container_name: dapi_envoy
    restart: always
    depends_on:
      - dapi_nginx
    ports:
      - 3020:8080
    volumes:
      - {{ mn_evo_services_path }}/dapi-envoy.yaml:/etc/envoy/envoy.yaml

volumes:
  drive_mongodb:
  machine_leveldb:
  Starting drive_mongodb ... done
  Starting machine       ... done
  Starting dapi_nginx    ... done
