version: '3'

services:
  drive_mongodb:
    image: mongo:4.2
    restart: always
    command: mongod --replSet driveDocumentIndices --bind_ip_all
    ports:
      - 27017:27017
    extra_hosts:
      - "drive_mongodb:127.0.0.1"
    volumes:
      - drive_mongodb:/data/db
      - {{ mn_evo_services_path }}/initiate_mongodb_replica.js:/docker-entrypoint-initdb.d/initiate_mongodb_replica.js

  drive_abci:
    image: {{ drive_image }}
    restart: always
    command: sh -c "sleep 15 && npm run abci"
    volumes:
      - drive_leveldb:/usr/src/app/db
    environment:
      - CORE_JSON_RPC_USER={{ dashd_rpc_user }}
      - CORE_JSON_RPC_PASS={{ dashd_rpc_password }}
      - CORE_JSON_RPC_HOST={{ private_ip }}
      - CORE_JSON_RPC_PORT={{ dashd_rpc_port }}
      - DOCUMENT_MONGODB_URL=mongodb://drive_mongodb:27017?replicaSet=driveDocumentIndices
      - DPNS_CONTRACT_ID={{ platform_dpns_contract_id }}
      - DPNS_TOP_LEVEL_IDENTITY={{ platform_dpns_top_level_domain_identity }}
    ports:
      - 26658:26658
    depends_on:
      - drive_mongodb

  tendermint:
    image: {{ tendermint_image }}
    entrypoint: sh -c "sleep 30 && /usr/bin/tendermint node"
    restart: always
    ports:
      - {{ tendermint_rpc_port }}:26657
      - {{ tendermint_p2p_port }}:26656
    volumes:
      - {{ mn_evo_services_path }}/tendermint:/tendermint
    depends_on:
      - drive_abci

  dapi_api:
    image: {{ dapi_image }}
    command: npm run api
    restart: always
    depends_on:
      - tendermint
    ports:
      - 3004:3004
      - 3005:3005
    environment:
      - INSIGHT_URI=http://{{ private_ip }}:3001/insight-api
      - API_JSON_RPC_PORT=3004
      - API_GRPC_PORT=3005
      - DASHCORE_RPC_HOST={{ private_ip }}
      - DASHCORE_RPC_PORT={{ dashd_rpc_port }}
      - DASHCORE_RPC_USER={{ dashd_rpc_user }}
      - DASHCORE_RPC_PASS={{ dashd_rpc_password }}
      - DASHCORE_ZMQ_HOST={{ private_ip }}
      - DASHCORE_ZMQ_PORT={{ dashd_zmq_port }}
      - DASHCORE_P2P_HOST={{ private_ip }}
      - DASHCORE_P2P_PORT={{ dashd_port }}
      - DASHCORE_P2P_NETWORK={{ dash_network }}
      - NETWORK={{ dash_network }}
      - TENDERMINT_RPC_HOST=tendermint
      - TENDERMINT_RPC_PORT=26657

  dapi_tx_filter_stream:
    image: {{ dapi_image }}
    command: npm run tx-filter-stream
    restart: always
    ports:
      - 3006:3006
    environment:
      - INSIGHT_URI=http://{{ private_ip }}:3001/insight-api
      - TX_FILTER_STREAM_GRPC_PORT=3006
      - DASHCORE_RPC_HOST={{ private_ip }}
      - DASHCORE_RPC_PORT={{ dashd_rpc_port }}
      - DASHCORE_RPC_USER={{ dashd_rpc_user }}
      - DASHCORE_RPC_PASS={{ dashd_rpc_password }}
      - DASHCORE_ZMQ_HOST={{ private_ip }}
      - DASHCORE_ZMQ_PORT={{ dashd_zmq_port }}
      - DASHCORE_P2P_HOST={{ private_ip }}
      - DASHCORE_P2P_PORT={{ dashd_port }}
      - DASHCORE_P2P_NETWORK={{ dash_network }}
      - NETWORK={{ dash_network }}

  dapi_envoy:
    image: {{ dapi_envoy_image }}
    restart: always
    depends_on:
      - dapi_api
      - dapi_tx_filter_stream
    ports:
      - 3020:8080
    volumes:
      - {{ mn_evo_services_path }}/dapi-envoy.yaml:/etc/envoy/envoy.yaml

  dapi_nginx:
    image: nginx:latest
    restart: always
    depends_on:
      - dapi_api
      - dapi_tx_filter_stream
      - dapi_envoy
    ports:
      - {{ dapi_port }}:80
      - {{ dapi_grpc_port }}:50051
    volumes:
      - {{ mn_evo_services_path }}/dapi-nginx.conf:/etc/nginx/conf.d/default.conf
      - {{ mn_evo_services_path }}/dapi-nginx-grpc.conf:/etc/nginx/conf.d/dapi-nginx-grpc.conf
      - {{ mn_evo_services_path }}/dapi-nginx-errors.grpc_conf:/etc/nginx/conf.d/dapi-nginx-errors.grpc_conf

volumes:
  drive_mongodb:
  drive_leveldb:
