version: '3'

services:
  insight:
    image: {{ insight_image if ui == true else insight_api_image }}
    container_name: insight
    restart: always
    ports:
      - 3002:{{ insight_port }}
    volumes:
      - {{ insight_path }}/dashcore-node.json:/insight/dashcore-node.json

  # in order to support obsolete URL path (/insight-api-dash)
  insight_proxy:
    image: nginx:latest
    container_name: insight_proxy
    restart: always
    depends_on:
      - insight
    ports:
      - {{ insight_port }}:{{ insight_port }}
    volumes:
      - {{ insight_path }}/insight-proxy-nginx.conf:/etc/nginx/conf.d/default.conf

