version: '3.2'

services:
  create_certs:
    container_name: create_certs
    image: docker.elastic.co/elasticsearch/elasticsearch:7.11.2
    command: >
      bash -c '
        if [[ ! -f /certs/bundle.zip ]]; then
          bin/elasticsearch-certutil cert --silent --pem --keep-ca-key \
          --in /certs/instances.yml --out /certs/bundle.zip;
          unzip -j /certs/bundle.zip ca/ca.* -d /certs/ca;
        else
          rm /certs/bundle.zip;
          bin/elasticsearch-certutil cert --silent --pem \
          --ca-cert /certs/ca/ca.crt --ca-key /certs/ca/ca.key \
          --in /certs/instances.yml --out /certs/bundle.zip;
          cd /certs && zip -j /certs/bundle.zip ca/ca.* -r;
        fi;
        chown -R 1000:0 /certs
      '
    user: "0"
    working_dir: /usr/share/elasticsearch
    volumes:
      - type: bind
        source: .
        target: /certs
