version: '3.2'

services:
  create_certs:
    container_name: create_certs
    image: "docker.elastic.co/elasticsearch/elasticsearch:{{ elastic_version }}"
    command: >
      bash -c '
        if [[ ! -f /certs/ca.zip ]]; then
          echo "Creating CA";
          bin/elasticsearch-certutil ca --silent --pem -out /certs/ca.zip;
          unzip /certs/ca.zip -d /certs;
        else
          echo "Skipping CA"
        fi;
        if [[ ! -f /certs/certs.zip ]]; then
          echo "Creating certs";
          bin/elasticsearch-certutil cert --silent --pem \
          --ca-cert /certs/ca/ca.crt --ca-key /certs/ca/ca.key \
          --in /certs/instances.yml -out /certs/certs.zip 
          unzip /certs/certs.zip -d /certs;
          ls -lha
        else
          echo "Skipping certs";
        fi;
        chown -R 1000:0 /certs
      '
    user: "0"
    working_dir: /usr/share/elasticsearch
    volumes:
      - type: bind
        source: .
        target: /certs
